@page
@model ConfirmEmailModel


<h1>ONAYLAMA BAŞARILI</h1>
@* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@

<div class="alert alert-success">
    Hesabınız başarıyla aktive edilmiştir.

</div>
