@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="alert alert-primary">
            Mail adresinize onaylama maili gitmiştir. Gelen linke tıklayınca hesabınız aktif olacaktır.
        </div>
    }

}

